:root {
  --title-color: #2e2f42;
  --white-title-color: #ffffff;
  --logo-color: #4d5ae5;
  --hover-color: #434455;
  --background-color: #404bbf;
  --background-team-color: #f4f4fd;
  --btn-color: #e7e9fc;
  --link-customes: #8e8f99;
}


@font-face {
  font-family: 'DM Sans', sans-serif;
  src: url(https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap);
}
body {
  font-family: DS Sans, sans-serif;
  color: var(--text-icons);
  background-color: var(--white-theme);
}
.container {
  min-width: 320px;
  max-width: 1280px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid red;
}

.list {
  list-style-type: none;
}